snippet sl "New slide" !b
- !slide

endsnippet

snippet s "Simple slide" !b
- !slide $0
endsnippet

snippet c "Inline content" !b
content:
endsnippet

snippet co "Content |" !b
content: |

endsnippet

snippet ty "type" !b
type:
endsnippet

snippet no "notes" !b
notes: |

endsnippet

snippet n "Inline notes" !b
notes:
endsnippet

snippet gr "group" !b
- !group

endsnippet
